@import "../../styles/_colors.scss";
@import "../../styles/global.scss";

.myApps {
  background-color: $lightGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .pageTitle {
    position: absolute;
    top: 0.5rem;
  }

  .arrow {
    font-size: 5rem;
    position: absolute;
    cursor: pointer;
    color: $ashTeal;

    @include mobile {
      display: none;
    }

    &.left {
      left: 6.25rem;
    }

    &.right {
      right: 6.25rem;
    }
  }

  .slider {
    height: 80%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .appsCard {
        width: 44rem;
        height: 95%;
        background-color: $whiteLight;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.25rem 0.5rem 0 $lightPlum;

        @include mobile {
          width: 80%;
          height: 9.3rem;
          margin: 0.9rem 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .button {
              display: inline-block;
              margin: 0.5rem;
              padding: 0.5rem;
              background-color: $mediumAshTeal;
              color: $darkestGrey;
              text-decoration: none;
              border-radius: 0.6rem;
              transition: background-color 0.3s ease;
              box-shadow: inset 0 1px 0 $lightAshTeal, 0 1px 3px $ashTeal;

              @include mobile {
                margin: 0.1rem;
                padding: 0.4rem;
                text-align: center;
              }

              &:hover {
                background-color: lighten($mediumAshTeal, 10%);
              }
            }

            .imgContainer {
              width: 5rem;
              height: 5rem;
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 3rem;
                height: 3rem;
              }

              img {

                /*@include mobile {
                  width: 15px;
                }*/
              }
            }

            h2 {
              font-size: 2rem;
              color: $darkestPlum;

              @include mobile {
                display: none;
              }
            }

            p {
              font-size: 1rem;
              @include mobile {
                display: none;
              }
            }

            span {
              font-size: 0.75rem;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;

          .mobileCard {
            display: none;

            @include mobile {
              display: flex;
            }
          }

          h2 {

            @include mobile {
              font-size: 1rem;
            }
          }

          p {

            @include mobile {
              font-size: 0.8rem;
            }
          }

          img {
            @include mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}