$darkPurple: #331E36;
$darkSlateBlue: #41337A;
$airSuperiorityBlue: #6EA4BF;
$powderBlue: #C2EFEB;
$honeyDrew: #ECFEE8;
$whiteLight: #F5F7FE;
$lavenderLight: #d6defb;
$lightGrey: #F0F0F0;
$deepGrey: #5D5D5D;