
// Primary colors
$darkestPlum: #331E36;
$darkPlum: #6f4175;
$mediumPlum: #a56bad;
$lightPlum:#cbaad0;
$veryLightPlum: #eaddec;
$superLightPlum: #f9f6fa;

//Accent colors
$deepDarkTeal: #23363d;
$ashTeal: #476d7b;
$mediumAshTeal: #8eb1be;
$lightAshTeal: #bfd3da;
$superLightAshTeal: #e5edf0;

// Grey colors
$darkestGrey: #373737;
$deepGrey: #5D5D5D;
$mediumGrey: #989898;
$lightGrey: #E6E6E6;
$lightestGrey: #F0F0F0;
$whiteLight: #F5F7FE;
