
// Primary colors
$darkestPlum: #331E36;
$darkPlum: #6f4175;
$mediumPlum: #a56bad;
$lightPlum:#cbaad0;
$veryLightPlum: #e2d0e5;
$superLightPlum: #f9f6fa;

// Grey colors
$lightGrey: #e6e6e6;
$lightestGrey: #F0F0F0;
$darkestGrey: #373737;
$deepGrey: #5D5D5D;

$darkSlateBlue: #41337A;
$airSuperiorityBlue: #6EA4BF;
$powderBlue: #C2EFEB;
$honeyDrew: #ECFEE8;
$whiteLight: #F5F7FE;


$lavenderLight: #D6DEFB;
$lavenderSuperLight: #EEF1FD;
