@import "./_colors.scss";

$mobileWidth: 768px;
$desktopWidth: 1024px;
$largeWidth: 1530px;
$topBarHeight: 70px;

body {
  color: $deepGrey;
}

p, h2 {
  padding: 0.5rem;
}

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content
  }
}

@mixin desktop {
  @media (max-width: #{$desktopWidth}) {
    @content
  }
}

@mixin large {
  @media (max-width: #{$largeWidth}) {
    @content
  }
}


//Used for Linkedin image
.smaller {
  width: 32px;
  height: 32px;
}


.basicCard {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
}