@import "../../styles/_colors.scss";
@import "../../styles/global.scss";

.lectures {
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;


  .lectureList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .lectureItem {
      width: 100%;
      max-width: 50rem;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-shadow: 0.3rem 0 0.25rem -0.25rem $mediumAshTeal, -0.3rem 0 0.25rem -0.25rem $mediumAshTeal  ;

      @include mobile {
        display: block;
        width: 90%;
      }

      &:nth-child(odd) {
        background-color: $lightAshTeal;
      }

      &:nth-child(even) {
        background-color: $superLightAshTeal;
      }

      &:last-child {
        box-shadow: 0 0.25rem 0.5rem 0 $mediumAshTeal;
        margin-bottom: 0.6rem;
      }

      .title {
        flex: 1;
        font-weight: 600;
        color: $darkestPlum;
      }

      .locationYear {
        color: $deepGrey;
      }
    }
  }
}