@import "../../styles/_colors.scss";
@import "../../styles/global.scss";

.lectures {
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 1.5rem;
  }

  .lectureList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .lectureItem {
      width: 100%;
      max-width: 25rem;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include mobile {
        display: block;
        margin-left: 1rem;
      }

      &:nth-child(odd) {
        background-color: $lavenderLight;
      }

      &:nth-child(even) {
        background-color: $lavenderSuperLight;
      }

      .title {
        flex: 1;
        font-weight: bold;
      }

      .locationYear {
        color: $deepGrey;
      }
    }
  }
}