@import "../../styles/_colors.scss";
@import "../../styles/global.scss";

.pages {
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  p, h2 {
    padding: 0.5rem;
  }

  .row {
    margin: 0 -0.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    &.active  {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      width: 25%;
      padding: 0 0.63rem;

      @include mobile {
        width: 100%;
        display: block;
        margin-bottom: 1.25rem;
      }

      .card {
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
        padding: 1rem;
        text-align: center;
        background-color: $whiteLight;
        margin: 1rem;

        .button {
          display: inline-block;
          padding: 0.5rem 1rem;
          background-color: $lavenderLight;
          color: $deepGrey; // Set text color to white
          text-decoration: none;
          border-radius: 0.6rem;
          transition: background-color 0.3s ease; // Add a smooth transition on hover

          &:hover {
            background-color: darken($whiteLight, 10%); // Create a darker shade for the hover effect
          }
        }
      }
    }
  }

}