@import "../../styles/_colors.scss";
@import "../../styles/global.scss";

.about {
  background-color: $honeyDrew;
  display: flex;

  .left {
    flex: 0.6;
    overflow: hidden;
    border: solid crimson;

    @include large {
    flex: 0.5;
    padding: 2rem;
    align-items: center;
  }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1rem;
    }

    li {
      height: 40vh;
      flex-grow: 1;
    }

    li:last-child {
      flex-grow: 10;
    }

    img {
      max-height: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }

    .hide-medium {

      @include large {
        display: none;
      }
    }
  }

  .right {
    flex: 0.5;
    border: solid steelblue;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 3.1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }
    }

  }
}